<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>COMSEDI S.A. DE C.V.</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="/static/images/fevicon.ico.png" type="image/x-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="/static/style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="/static/css/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="/static/css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="/static/css/responsive.css">
   <!-- building CSS -->
   <link rel="stylesheet" href="/static/css/building.css">
   </head>
   <body class="building_version" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="/static/images/loaders/loader-building2.gif" alt="">
      </div>
      <!-- end loader -->
      <!-- END LOADER -->
      <header class="header header_style_01">
         <nav class="megamenu navbar navbar-default" data-spy="affix">
            <div class="top-header">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-hidden">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-hidden">
                           <div class="gem-contacts-item gem-contacts-phone">
                              <a class="phone-icon" href="#" target="_blank" title="phone"><i class="fa fa-phone" aria-hidden="true"></i>2271-2813</a>
                           </div>
                        </div>
                        <div class="top-area-block top-area-socials socials-colored-hover">
                           <div class="socials inline-inside"> 
                              <a class="socials-item" href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a> 
                              <a class="socials-item" href="#" target="_blank" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img src="/static/images/logo-icon.png" alt="image"><span>COMSEDI</span></a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="active"><a data-scroll href="#home">Principal</a></li>
                     <li><a data-scroll href="#about">¿Quiénes somos?<span class="hidden-xs">*</span></a></li>
                     <li><a data-scroll href="#services">Servicios</a></li>
                     <li><a data-scroll href="#projects">Proyectos</a></li>
                     <li><a data-scroll href="#testimonials">Testimonios</a></li>
                     <li><a data-scroll href="#mision">Misión y Visión</a></li>
                     <li><a data-scroll href="#contact">Contáctanos</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <div id="home" class="parallax first-section" data-stellar-background-ratio="0.4" style="background-image:url('/static/uploads/building/slide-img1.png');">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 text-center">
                  <div class="big-tagline">
                     <img class="border-line-img" src="/static/uploads/building/sep-line-white.png" alt="" />
                     <h2><span class="yellow">COMSEDI</span></h2>
                     <img style="margin-bottom:40px;" class="border-line-img" src="/static/uploads/building/sep-line-white.png" alt="" />
                     <p class="lead">Empresa del sector eléctrico y construcción, con personal altamente calificado para diversos tipos de proyectos.</p>
                     <a data-scroll href="#services" class="btn btn-light btn-radius btn-brd">Nuestros Servicios</a>
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <div id="about" class="section wb">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>¿QUIÉNES SOMOS?</h2>
                     <h5>¡Somos los líderes en construcción!</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <p class="lead">COMSEDI S.A DE C.V. es una empresa del sector eléctrico y de construcción, con personal altamente calificado para ejecutar trabajos en el área de Poda, Construcción Eléctrica en baja y media tensión y Construcción de Obras Civiles con un servicio de alta calidad. Regidos por la Ley de Prevención de Riesgos, ejecutando trabajos con seguridad y profesionalismo, ofreciendo a nuestros clientes la excelencia en nuestros servicios.</p>
                     <a href="#contact" class="read-more">Contáctanos</a>
                  </div>
                  <!-- end messagebox -->
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row text-center about-row">
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="/static/images/pro3.jpeg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="/static/images/pro3.jpeg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Poda</h3>
                        <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="/static/images/pro1.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="/static/images/pro1.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Construcción</h3>
                        <p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="/static/images/pro2.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="/static/images/pro2.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Electricidad</h3>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
         <div class="sep1"></div>
      </div>
      <!-- end section -->
      <div id="services" class="parallax section db parallax-off no-padding-bottom"  >
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>SERVICIOS</h2>
                     <h5>¡Somos los líderes en construcción!</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="service-inform">
                           <div class="icon-service">
                              <img src="/static/images/icon1.png" alt="#" />
                           </div>
                           <div class="service-inform-text">
                              <h3>Cotización de proyectos</h3>
                              <p>Realiza tu cotización en Construcción, Poda o Electricidad.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="service-inform">
                           <div class="icon-service">
                              <img src="/static/images/icon4.png" alt="#" />
                           </div>
                           <div class="service-inform-text">
                              <h3>Alquiler de Grúas</h3>
                              <p>Contamos con una diversidad de grúas a tu disposición.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 serv" style="background-color:#222;">
                  <div class="serv-blog">
                     <img src="/static/images/sr1.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>Electricidad</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 serv" style="background:#181818;">
                  <div class="serv-blog">
                     <img src="/static/images/sr2.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>Poda de árboles</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 serv" style="background:#222;">
                  <div class="serv-blog">
                     <img src="/static/images/sr3.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>Construcción</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      <div id="projects" class="section">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>Proyectos</h2>
                     <h5>En los últimos años, hemos realizado diversos proyectos como la remodelación del ISNA, la iluminación del puente María Chichilco y Mantenimiento de redes eléctricas.</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="container gal-container">
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#1">
                              <img src="/static/images/pro1.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro1.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the first one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#2">
                              <img src="/static/images/pro2.jpg" alt="#2" />
                              </a>
                              <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro2.jpg" alt="#2" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the second one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#3">
                              <img src="/static/images/pro3.jpeg" alt="#" />
                              </a>
                              <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro3.jpeg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the third one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#4">
                              <img src="/static/images/pro4.png" alt="#" />
                              </a>
                              <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro4.png" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the fourth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#5">
                              <img src="/static/images/pro5.png" alt="#" />
                              </a>
                              <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro5.png" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the fifth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#9">
                              <img src="/static/images/pro6.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro6.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the ninth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#10">
                              <img src="/static/images/pro7.jfif" alt="#" />
                              </a>
                              <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="/static/images/pro7.jfif" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the tenth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      <div id="testimonials" class="section db">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-8 col-md-offset-2">
                  <h3>Testimonios</h3>
                  <p class="lead">En los últimos años, hemos tenido la oportunidad de trabajar con empresas reconocidas del país, tales como DELSUR, FOVIAL, FISDL, EPR, MOP, entre otras.</p>
               </div>
               <!-- end col -->
            </div>
            <!-- end title -->
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <div class="testi-carousel owl-carousel owl-theme">
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>¡Excelente trabajo!</h3>
                           <p class="lead">Un equipo profesional, rápido, eficiente y siempre con el bienestar del cliente en mente.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_01.png" alt="" class="img-responsive alignleft">
                           <h4>Joaquin Rodriguez <small>- EPR, 2012</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>¡Impresionante!</h3>
                           <p class="lead">Superaron nuestras expectativas continuamente. Cada problema que se presentó, fue resuelto rápida y económicamente.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_02.png" alt="" class="img-responsive alignleft">
                           <h4>Roberto Ramiro<small>- FOVIAL, 2012</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>¡Un equipo con mucho talento!</h3>
                           <p class="lead">Un equipo proactivo y eficiente, con mucho talento y unidad entre sus ramas de operación.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_03.png" alt="" class="img-responsive alignleft">
                           <h4>Lucía Raquel H.<small>- FISDL, 2012</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>¡Muy profesionales!</h3>
                           <p class="lead">Terminaron el trabajo rápidamente, súper ordenados y complacientes. Un excelente equipo.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_01.png" alt="" class="img-responsive alignleft">
                           <h4>Juan Fernando S.<small>- DELSUR, 2012</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>¡Buen servicios de grúas!</h3>
                           <p class="lead">La grúa funcionó a la perfección. Muy buenos precios y puntualidad en el alquiler.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_02.png" alt="" class="img-responsive alignleft">
                           <h4>José Osorio<small>- MOP, 2020</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i>Excelentes cotizaciones</h3>
                           <p class="lead">La cotización se realizó en un tiempo corto y rápidamente se procedió a comenzar el proyecto. Muy comprometidos con el trabajo.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="/static/uploads/testi_03.png" alt="" class="img-responsive alignleft">
                           <h4>Valeria Fuentes <small>- EPR, 2012</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                  </div>
                  <!-- end carousel -->
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <div id="mision" class="section pr">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="tab-content">
                     <div class="tab-pane active fade in" id="tab1">
                        <div class="row text-center">
                           <div class="col-md-4">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>MISIÓN</h2>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p>Ofrecer altos niveles de calidad en servicios de Poda y Mantenimiento de líneas y construcción, a través de nuestra filosofía y cultura organizacional con personal altamente calificado y comprometido, a fin de satisfacer las necesidades de nuestros clientes y contribuir a su crecimiento.</p>
                                 </div>
                                 <!--
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">Order Now</a>
                                 </div>
                                 -->
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="pricing-table pricing-table-highlighted">
                                 <div class="pricing-table-header grd1">
                                    <h2>VISIÓN</h2>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p>Ser la empresa líder en servicios diversos en el área de poda, mantenimiento de líneas, construcción, mantenimiento al derecho de vías pavimentadas y otros negocios relacionados. Por medio de estándares de la más alta calidad y personal constantemente caliificado, con el fin de brindar sus servicios en todo el país hasta ser reconocida en América Central.</p>
                                 </div>
                                 <!--
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Order Now</a>
                                 </div>
                                 -->
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>VALORES</h2>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <!--
                                    <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                    <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                    <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                    <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                    -->
                                    <li>Confianza</li>
                                    <li>Profesionalismo</li>
                                    <li>Integridad</li>
                                    <li>Trabajo en Equipo</li>
                                    <li>Respeto</li>
                                    <li>Compromiso</li>
                                    <li>Puntualidad</li>
                                    <li>Excelencia</li>
                                 </div>
                                 <!--
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">Order Now</a>
                                 </div>
                                 -->
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end pane -->
                     <!--
                     <div class="tab-pane fade" id="tab2">
                        <div class="row text-center">
                           <div class="col-md-6">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>Dedicated Server</h2>
                                    <h3>$85/month</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                    <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                    <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                    <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">Order Now</a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="pricing-table pricing-table-highlighted">
                                 <div class="pricing-table-header grd1">
                                    <h2>VPS Server</h2>
                                    <h3>$59/month</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-text">
                                    <p>This is a perfect choice for small businesses and startups.</p>
                                 </div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Email Addresses</p>
                                    <p><i class="fa fa-rocket"></i> <strong>65GB</strong> of Storage</p>
                                    <p><i class="fa fa-database"></i> <strong>60</strong> Databases</p>
                                    <p><i class="fa fa-link"></i> <strong>30</strong> Domains</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Order Now</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                     </div> 
                     -->
                     
                     <!-- end pane -->
                  </div>
                  <!-- end content -->
               </div>
               <!-- end col -->
            </div>
         </div>
      </div>
      <div id="contact" class="section wb">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-8 col-md-offset-2">
                  <h3>CONTÁCTANOS</h3>
                  <p class="lead">¡Será un placer atenderte!</p>
                  <p class="lead">Registra tus datos y nos contactaremos contigo en 24 horas.</p>
               </div>
               <!-- end col -->
            </div>
            <!-- end title -->
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="contant-info">
                     <ul class="item-display-block">
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-home"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase"> Dirección:</h6>
                              <p>75 avenida norte, Calle Mano de León, pje. Los Castros, #456. San Antonio Abad, San Salvador.</p>
                           </div>
                        </li>
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-volume-control-phone"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase"> Teléfono:</h6>
                              <p>2271-2813</p>
                           </div>
                        </li>
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-envelope-o"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase">Correo electrónico:</h6>
                              <p>comsedi@yahoo.es</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="contact_form">
                     <div id="message"></div>
                     <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                        <fieldset class="row-fluid">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nombre">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Apellido">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="phone" id="phone" class="form-control" placeholder="Dirección">
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label class="sr-only">Selecciona el servicio:</label>
                              <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                                 <option value="Construccion">Construcción</option>
                                 <option value="Poda">Poda de árboles</option>
                                 <option value="Electricidad">Electricidad</option>
                                 <option value="Otros">Otros</option>
                              </select>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Brindanos más detalles de tu solicitud."></textarea>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Solicitar</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <!-- footer -->
      <footer id="footer">
         <div id="footer-widgets" class="container style-1">
            <div class="row">
               <div class="col-md-4">
                  <div class="widget widget_text">
                     <h2 class="widget-title"><span>¿QUIÉNES SOMOS?</span></h2>
                     <div class="textwidget">
                        <a class="navbar-brand" href="index-building.html"><img src="/static/images/logo-icon.png" alt="image"><span>COMSEDI</span></a>
                        <p>Somos una empresa del sector eléctrico y de construcción, con personal altamente calificado para ejecutar trabajos en el área de Poda, Construcción Eléctrica en baja y media tensión y Construcción de Obras Civiles con un servicio de alta calidad.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget widget_links">
                     <h2 class="widget-title"><span>LINKS</span></h2>
                     <ul class="wprt-links clearfix col2">
                        <li><a data-scroll="" href="#home">Principal</a></li>
                        <li><a data-scroll="" href="#about">¿Quiénes somos?</a></li>
                        <li><a data-scroll="" href="#services">Servicios</a></li>
                        <li><a data-scroll="" href="#projects">Proyectos</a></li>
                        <li><a data-scroll="" href="#testimonials">Testimonios</a></li>
                        <li><a data-scroll="" href="#mision">Misión y Visión</a></li>
                        <li><a data-scroll="" href="#contact">Contáctanos</a></li>
					 </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget widget_information">
                     <h2 class="widget-title"><span>INFORMACIÓN</span></h2>
                     <ul>
                        <li class="address clearfix">
                           <span class="hl">Dirección: </span>
                           <span class="text">75 avenida norte, Calle Mano de León, pje. Los Castros, #456. San Antonio Abad, San Salvador.</span>
                        </li>
                        <li class="phone clearfix">
                           <span class="hl">Teléfono:</span> 
                           <span class="text">2271-2813</span>
                        </li>
                        <li class="email clearfix">
                           <span class="hl">Correo:</span>
                           <span class="text">comsedi@yahoo.es</span>
                        </li>
                     </ul>
                  </div>
                  <div class="widget widget_socials">
                     <div class="socials">
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="bottom" class="clearfix style-1">
            <div class="container">
               <div id="bottom-bar-inner" class="wprt-container">
                  <div class="bottom-bar-inner-wrap">
                     <div class="bottom-bar-content">
                        <div id="copyright">Todos los derechos reservados. COMSEDI © 2021</div>
                        <!-- /#copyright -->
                     </div>
                     <!-- /.bottom-bar-content -->
                     <!--
                     <div class="bottom-bar-menu pull-right">
                        <ul class="bottom-nav">
                           <li><a href="#/">HISTORY</a></li>
                           <li><a href="#/">FAQ</a></li>
                           <li><a href="#/">EVENTS</a></li>
                        </ul>
                     </div>
                     -->
                     <!-- /.bottom-bar-menu -->
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="/static/js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="/static/js/custom.js"></script>
      <script src="/static/js/portfolio.js"></script>
      <script src="/static/js/hoverdir.js"></script>   
   </body>
</html>

